html {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main, header, footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

header {
    background: #000;
    display: grid;
    grid-template-columns: 1fr auto;
}

section {
    padding: 10rem 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

section:nth-child(2n - 1) {
    background: #f5f5f5;
}

section > div, header > div {
    box-sizing: border-box;
    padding: 0 4rem;
    width: 120rem;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

header > div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    flex-shrink: 1;
    flex-grow: 1;
}

section h2, section h3 {
    text-align: center;
}

header h2 {
    color: #fff;
    line-height: 2rem;
    font-size: 2rem;
    margin: 0 4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 6rem;
    line-height: 8rem;
}

h2 {
    font-size: 4rem;
    line-height: 8rem;
}

h3 {
    font-size: 3rem;
    line-height: 5rem;
}

h4 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 0;
}

p {
    font-size: 1.6rem;
    line-height: 3rem;
}

pre {
    font-family: monospace;
    font-size: 1.6rem;
    line-height: 2.5rem;

    background: #000000;
    color: #FFFFFF;
    padding: 4rem;

    border-radius: 0.4rem;
    white-space: pre-line;
}

pre code:before {
    content: counter(listing) ".";
    display: inline-block;
    width: 4rem;
}

pre code {
    counter-increment: listing;
    white-space: pre;
}

.view-on-github {
    display: flex;
    background-color: #FF620A;
    color: #ffffff;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    padding: 0 6.6rem 0 3.2rem;
    font-size: 1.6rem;
    text-decoration: unset;

}

.view-on-github img {
    width: 2.8rem;
    height: 2.8rem;
}

form#config {
    display: grid;
    gap: 3.2rem;
    padding: 6.4rem 19.7rem;
    border-radius: 0.4rem;
    background-color: #12726A;
    margin-top: 4rem;
}

form#config[hidden] {
    display: none;
}

form#config h3 {
    color: #ffffff;
}

form#config input, form#config select {
    border-radius: 2.4rem;
    padding: 1.6rem 3.2rem;
    font-size: 1.4rem;
    border: none;
}

input:focus-visible {
    outline: 0.2rem solid #7bd1fd;
}

form#config button {
    padding: 1.6rem 2.2rem;
    line-height: 1.6rem;
    border-radius: 2.4rem;

    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 315;
}
