@import "../../colors";
@import "../../spacing";
@import "../../breakpoints";

.calendar {
  left: -100%;
  display: grid;

  grid-template-columns: auto 1fr;
  grid-template-rows: $calendarHeaderHeight 1fr auto;
  grid-template-areas:
          "calendar timeslotsHeader"
          "calendar timeslots"
          "firstSlotFinder selectedTimeslot";

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto $calendarHeaderHeight auto auto;

    grid-template-areas:
      "calendar"
      "firstSlotFinder"
      "timeslotsHeader"
      "timeslots"
      "selectedTimeslot";
  }

  &Active {
    left: 0;
    position: relative;
  }
}

.calendarWrapper {
  grid-area: calendar;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: $dark-bg;
  color: $light-fg;
  padding: 0 4rem 4rem;

  @media (max-width: $mobile) {
    padding: 0 1.6rem 1.6rem;
  }
}

.firstSlotFinder {
  grid-area: firstSlotFinder;
  background-color: $dark-bg;

  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.8rem 4rem 1.6rem;

  @media (max-width: $mobile) {
    padding: 0.8rem 2rem 1.6rem;
  }

  span {
    color: $light-fg;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }

  &Search {
    --loader-button-padding: 1rem 3.6rem;
    --loader-button-border: 1px solid #{$light-fg};
    --loader-button-border-radius: 2.5rem;
    --loader-button-line-height: 2.8rem;
  }
}

.timeslots {
  grid-area: timeslots;
  position: relative;
  background-color: $light-bg;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  &Loading {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Loader {
    --loader-size: 3.2rem;
  }

  &Header {
    grid-area: timeslotsHeader;
    background-color: $light-bg;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'ITC Avant Garde Pro MD', sans-serif;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media (max-width: $mobile) {
      font-size: 1.4rem;
    }
  }

  ol {
    box-sizing: border-box;
    position: absolute;
    padding: 0 4.8rem 1.6rem 4.8rem;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    list-style: none;
    column-gap: 1.8rem;
    row-gap: 3.2rem;

    @media (max-width: $tablet) {
      padding: 0 4.8rem 4.8rem 4.8rem;
    }

    @media (max-width: $mobile) {
      column-gap: 1.2rem;
      row-gap: 1.6rem;
      padding: 0 1.6rem 4rem 1.6rem;
    }

    @media (max-width: $tablet) {
      position: static;
    }
  }

  &Timeslot {
    width: 100%;
    --loader-button-border-radius: 0.6rem;
    --loader-button-background-color: #{$light-fg};
    --loader-button-color: $dark-bg;
    --loader-button-padding: 1.2rem;
    --loader-button-font-size: 1.4rem;

    @media (max-width: $mobile) {
      --loader-button-font-size: 1rem;
    }

    &:hover {
      --loader-button-hover-background-color: #{darken($light-fg, 10%)};
    }

    &Selected {
      --loader-button-background-color: #{$accent};
      --loader-button-color: #{$light-fg};

      &:hover {
        --loader-button-hover-background-color: #{darken($accent, 10%)};
      }
    }
  }

  &Gradient {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    height: 2.4rem;
    background: linear-gradient(0, rgba(217, 217, 217, 0) 0%, darken($light-bg, 5%) 100%);
    transition: opacity 200ms ease-in-out;
    opacity: 0;
    z-index: 2;

    &Visible {
      opacity: 1;
    }

    &Bottom {
      transform: rotate(180deg);
      bottom: 0;
    }
  }
}

.selectedTimeslot {
  display: grid;

  grid-template-columns: 1fr auto;
  grid-area: selectedTimeslot;

  background-color: $accent;

  @media (max-width: $mobileLandscape) {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  &DateTime {
    text-align: center;
    padding: 0 1.6rem;
    background-color: $light-fg;
    margin: 1.6rem 4rem;
    border-radius:3.2rem;
    line-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    overflow-x: auto;
    white-space: nowrap;

    @media (max-width: $mobileLandscape) {
      margin: 1.6rem 2rem;

      &Wrapper {
        background-color: $alt-bg;
      }
    }

    @media (max-width: $mobile) {
      font-size: 1.2rem;
    }
  }

  &Next {
    --loader-button-border-radius: 0;
    --loader-button-background-color: #{$accent};

    --loader-button-padding: 2.2rem 7rem 2.2rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    z-index: 1;

    @media (max-width: $mobileLandscape) {
      --loader-button-padding: 2.2rem 3.2rem;
      justify-content: space-between;
    }

    &:hover {
      --loader-button-hover-background-color: #{darken($accent, 10%)};
    }
  }
}
