@import '../../colors';

.checkbox {
  padding: 0 3.2rem;
  font-size: 0.875rem;
  border: none;
  display: grid;
  grid-template-columns: 2.4rem 1fr;
  align-items: flex-start;
  gap: 1.6rem;

  input[type=checkbox] {
    display: none;

    &:checked ~ .fauxCheckbox {
      background-color: black;
      border-color: black;
    }
  }

  .fauxCheckbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $light-fg;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.4rem;
  }

  label {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 315;
    line-height: 2.2rem;
  }
}
