@import "../../colors";
@import "../../breakpoints";

.contactForm {
  left: 100%;
  background-color: $alt-bg;

  color: $light-fg;
  padding: 6.4rem 19.7rem;


  @media (max-width: $tablet) {
    padding: 4rem 8rem;
  }

  @media (max-width: $mobileLandscape) {
    padding: 4rem 1.6rem;
  }

  &Active {
    position: relative;
    left: 0;
  }

  &Title {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
    font-family: 'ITC Avant Garde Pro MD', sans-serif;

    @media (max-width: $mobile) {
      font-size: 2.4rem;
    }
  }

  &Controls {
    display: grid;
    grid-template-columns: 1.6fr 4rem auto 4rem 1.6fr;
    grid-template-rows: 4rem;
    grid-template-areas: ". back date . .";
    gap: 1.6rem;
    margin-top: 4rem;
    margin-bottom: 5.6rem;

    @media (max-width: $mobileLandscape) {
      grid-template-columns: 4rem auto;
      grid-template-areas: "back date";
      margin: 1.6rem 3.9rem 3.2rem;
    }

    @media (max-width: $mobile) {
      margin: 1.6rem 0 3.2rem;
    }

    &Back {
      grid-area: back;
      --loader-button-border-radius: 100%;
      --loader-button-background-color: #{$alt-bg};
      --loader-button-padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        --loader-button-hover-background-color: #{darken($alt-bg, 5%)}
      }
    }

    span {
      grid-area: date;
      background: $dark-bg;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      font-size: 1.6rem;
      font-weight: 315;
      white-space: nowrap;
      overflow-x: auto;
      padding: 0 1.6rem;

      @media (max-width: $mobile) {
        font-size: 1.2rem;
      }
    }
  }

  &Inputs {
    display: grid;
    gap: 3.2rem;

    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;

    @media (max-width: $tablet) {
      display: flex;
      flex-flow: column nowrap;
      gap: 1.6rem;
    }
  }

  &Notes {
    font-family: sans-serif;
    resize: none;
  }

  &Submit {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }

  &Checkbox {
    align-self: stretch;
    margin-bottom: 4rem;
  }
}

.colSpan2 {
  grid-column: span 2;
}

.actionComplete {
  background-color: $alt-bg;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 4rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  gap: 3.2rem;

  p {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 305;
    max-width: 40rem;
    text-align: center;
  }

  &Title {
    font-size: 4rem;
    font-weight: 500;
    max-width: 40rem;
    text-align: center;
    font-family: 'ITC Avant Garde Pro MD', sans-serif;
    line-height: 5rem;

    @media (max-width: $mobile) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }

  &Time {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    padding: 1.6rem 5.6rem;
    background-color: $light-fg;
    color: $dark-bg;
    font-size: 1.6rem;
    font-weight: 315;
    border-radius: 2.4rem;

    @media (max-width: $mobile) {
      padding: 1.6rem 3.2rem;
      font-size: 1.4rem;
    }

  }

  &Icon {
    width: 4rem;
    height: 4rem;

    @media (max-width: $mobile) {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
}
