@import "../../colors";

.contactForm {
  left: 100%;
  background-color: $alt-bg;

  color: $light-fg;
  padding: 4rem 12rem;

  &Active {
    position: relative;
    left: 0;
  }

  &Title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'ITC Avant Garde Gothic', sans-serif;
  }

  &Controls {
    display: grid;
    grid-template-columns: 1fr 2.5rem auto 2.5rem 1fr;
    grid-template-rows: 40px;
    grid-template-areas: ". back date . .";
    gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;

    &Back {
      grid-area: back;
      --loader-button-border-radius: 100%;
      --loader-button-background-color: #{$alt-bg};
      --loader-button-padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        --loader-button-hover-background-color: #{darken($alt-bg, 5%)}
      }
    }

    span {
      grid-area: date;
      background: $dark-bg;
      display: flex;
      align-items: center;
      padding: 0 3.5rem;
      border-radius: 2.5rem;
      font-size: 1rem;
      font-weight: 315;
    }
  }

  &Inputs {
    display: grid;
    gap: 2rem;

    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  &Notes {
    font-family: sans-serif;
    resize: none;

  }

  &Submit {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }

  &Checkbox {
    align-self: stretch;
    margin-bottom: 2.5rem;
  }
}

.colSpan2 {
  grid-column: span 2;
}

.actionComplete {
  background-color: $alt-bg;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 2rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  p {
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 305;
    max-width: 25rem;
    text-align: center;
  }

  &Title {
    font-size: 2.5rem;
    font-weight: 500;
    max-width: 25rem;
    text-align: center;
    font-family: 'ITC Avant Garde Gothic', sans-serif;
  }

  &Time {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    padding: 1rem 3.5rem;
    background-color: $light-fg;
    color: $dark-bg;
    font-size: 1rem;
    font-weight: 315;
    border-radius: 1.5rem;
  }

  &Icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
